{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}
<style type="text/css">
.market {
  background-color: lightblue;
  text-align: center;
}
.signal {
  background-color: blue;
  text-align: center;
}
</style>
<body>
	<div class="market">
			{% block scripts %}
	    			<script type="module" src="/static/otree_single_asset_market/single_asset_text_interface.js"></script>
	    			<script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
			{% endblock %}
			{% block content %}
					<disable-interface-overlay> 
    				</disable-interface-overlay>
    				<single-asset-text-interface>
    				</single-asset-text-interface>

	</div>
	<div class = "signal">
			<img src="{{img_sig_url}}"/>
			<p>
				The computer drew two balls from the bag that correspond to the true state of the world, and the two balls are.   
				<br> {{ signal1black }} black balls and {{ signal1white }} white balls.</br>
				<img src="{{img_url}}"/>
			</p>
			{% endblock %}
	</div>

</body>

