{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}
{% block scripts %}
	    <script type="module" src="/static/otree_single_asset_market/single_asset_text_interface.js"></script>
	    <script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
{% endblock %}
<html>
<head>
{% block styles %}
<style>
.market {
	float: left;
	width: 70%;
}
.signal {
 	float: left;
	width: 30%;
}
</style>
</head>
{% endblock %} 
{% block content %}
<body>
	<div class="market">
			<disable-interface-overlay> 
    		</disable-interface-overlay>
    		<single-asset-text-interface>
    		</single-asset-text-interface>
	</div>
	<div class = "signal">
			<img src="{{img_sig_url}}"/>
			<p>
				The computer drew two balls from the bag that correspond to the true state of the world, and the two balls are.   
				<br> {{ signal1black }} black balls and {{ signal1white }} white balls.</br>
				<img src="{{img_url}}"/>
			</p>
			
	</div>

</body>
</html>
{% endblock %}
