{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}

{% block scripts %}
	    <script type="module" src="/static/single_asset_market_overconfidence/single_asset_text_interface.js"></script>
	    <script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
{% endblock %}

{% block styles %}
	<style>
		body > div.otree-body.container > h2 {
			display: none;
		}
		.market-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.market {
			flex: 65%;
		}
		.signal {
			flex: 35%;
		}
		.signal img {
			max-width: 100%;
			height: auto;
		}
		.round_num{
			text-align: center;
			font-size: 150%;
			font-family: verdana;
		}
	</style>
{% endblock %} 

{% block content %}
<div class ="round_num">
	{{round_num_display_string}}: {{round_num}}
</div>
	<disable-interface-overlay> 
	</disable-interface-overlay>

	<div class="market-container">
		<div class="market">
			<single-asset-text-interface>
			</single-asset-text-interface>
		</div>
		<div class="signal">
			<img src="{{img_sig_url}}"/>
			<p>
				The computer drew two balls from the bag that corresponds to the true state of the world. The two balls are:
			</p>
			<p>
				{{ signal1black }} black ball{{ signal1black|pluralize }} and {{ signal1white }} white ball{{ signal1white|pluralize }}
			</p>
			<img src="{{img_url}}"/>
		</div>
	</div>
{% endblock %}
