{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Pre Trading Survey
{% endblock %}
{% block styles %}
<style>
.survey-container{
    display: flex;
}
.signal {
    flex: 35%;
}
.signal img {
    max-width: 100%;
    height: auto;
}
.forms {
    flex: 65%;
}
</style>
{% endblock %} 
{% block content %}
<body>
<div class = "survey-container">

<div class="forms"> 
	<div> 
    	<br>
        	<b> Question 1: </b> What is the probability (out of 100) that you believe the true state is 'G'?
        </br>
        {% formfield player.Question_1_pre %}
    </div>
    <div> 
		<br>
	        <b> Question 2: </b> Of 100 times that the computer sends out the same signal as yours, guess how many times the true state is G? Please specify a lower bound L and an upper bound U that you expect the true number to lie within these two values with 90% probability.
    	</br>
       		Your answer:
        	{% formfield player.Question_2_low_pre %}
        	{% formfield player.Question_2_hi_pre %}
    </div>
    <div>
            <br>
                <b> Question 3: </b> Please decide on a price (between 100 and 300) at which you are willing to sell your asset.
            </br>
            <br>
                {% formfield player.Question_3_pre %}
        </br>
    </div>
    {% next_button %}
</div>
    <div class = "signal">
        <img src="{{img_sig_url}}"/>
            <b>
                <br>Your private signal</br>
                <br style="font-size:300%"> {{ signal1black }} Black Balls and {{ signal1white }} White Balls.</br>
                <br>
                <img src="{{img_url}}"/>
                </br>
            </b>
    </div>
</body>
{% endblock %}


