{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Survey
{% endblock %}
{% block styles %}
<style>
.signal {
	float: right;
	width: 30%;
}
.forms {
 	float: left;
	width: 70%;
}
</style>
</head>
{% endblock %} 
{% block content %}
<body>
<div class = "signal">
<img src="{{img_sig_url}}"/>
<br>your private signal</br>

<br> {{ signal1black }} black balls and {{ signal1white }} white balls.</br>
<br>
<img src="{{img_url}}"/>
</br>

<br> your total profit is {{ profit }} </br> 
</div>
<div = class="forms"> 
	{% formfields %}

    {% next_button %}
</div>
</body>
{% endblock %}
