{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Survey
{% endblock %}
{% block styles %}
<style>
.signal {
	float: right;
	width: 30%;
	text-align: center;
}
.forms {
 	float: left;
	width: 70%;
}
</style>
</head>
{% endblock %} 
{% block content %}
<body>
<div class = "signal">
<img src="{{img_sig_url}}"/>
<b>
<br>Your private signal</br>

<br style="font-size:300%"> {{ signal1black }} Black Balls and {{ signal1white }} White Balls.</br>
<br>
<img src="{{img_url}}"/>
</br>
</b>
</div>
<div = class="forms"> 
	{% formfields %}

    {% next_button %}
</div>
</body>
{% endblock %}
