{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Survey
{% endblock %}
{% block styles %}
<style>
.signal {
	float: right;
	width: 30%;
	text-align: center;
}
.forms {
 	float: left;
	width: 70%;
}
</style>
</head>
{% endblock %} 
{% block content %}
<body>
<div class = "signal">
<img src="{{img_sig_url}}"/>
<b>
<br>Your private signal</br>

<br style="font-size:300%"> {{ signal1black }} Black Balls and {{ signal1white }} White Balls.</br>
<br>
<img src="{{img_url}}"/>
</br>
</b>
</div>
<div class="forms"> 
	<div> 
		<br>
			After the trading, you should have a better idea of what the true state of the world is in this
	        trading period. Please use the information on the right-hand side and also what you’ve learned from the market to answer the following questions. 
    	</br>
    	<br>
        	What is the probability( out of 100) that you believe the true state is 'G'?
        </br>
        {% formfield player.Question_1 %}
    </div>
	<div> 
		<br>
	        Please provide an upper bound and a lower bound, such that you expect the computer's prediction to lie within these two values with 90% probability.
    	</br>
    	<br>
        	Please report your lower bound and upper bound below. 
        </br>
       		your answer:
        	{% formfield player.Question_2_low %}
        	{% formfield player.Question_2_hi %}
    </div>
    	<div> 
		<br>
			How would you rank your own performance in this trading period? In other words, how would you
        	rank your own payoff relative to the other traders in this trading period? 
    	</br>
    	<br>
        {% formfield player.Question_3 %}
        </br>
    </div>
    {% next_button %}
</div>
</body>
{% endblock %}


